.message {
    display: flex;
    align-items: flex-end; /*// прибевает аватарку с низу*/

    margin: 10px;
}

.avatar {
    height: 50px;
    width: 50px;

    border-radius: 50%;
}

.content {
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    background-color: rgba(229, 56, 56, 0.3); /* //прозрачность*/
}

.angel {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 1px 1px, rgba(196, 187, 187, 0) 15px, rgba(229, 56, 56, 0.3) 0); /*// пятачок*/
}

.text {
    min-width: 100px;
    max-width: 200px;
    word-wrap: break-word; /*// если текст слишком длинный переносит */
}

.time {
    display: flex;
    justify-content: flex-end;
    color: #5555d0;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #e07878;
}

.avatar img {
    width: 130px;

}
